<!doctype html>
<html lang="en">
<head>
	<%- include('template/header') %> 
</head>
<body>
	<%- include('template/navbar') %> 
	<!--start: FAQ-->
	<section class='section'>
		<div class='wrapper'>
			<h2 class='section__title'>FAQ - 常見問題</h2>
		</div> <!-- .wrapper -->
		<div class='section__content'>
			<div class='section__FAQ'> 
				<!--Q1-->
				<div class='section__Q-And-A QA__ans-ul'>
					<div class='section__question'>
						<div class='section__ques-list'>Q1:</div> 
						<div class='section__ques-desc'>如何辦理退貨？</div> 
					</div> 
					<div class='section__answer fold'>
						<ul>
							<li>退貨流程：<br>
								買家無需負擔退貨運費的費用，請填寫線上退貨申請單，並請將商品放回原包裝袋或紙箱，交還給貨運人員。
								(1) 於「查詢訂單」頁面，點選「申請退款/退貨」→ 
								(2) 填寫退貨之原因、退款的受款帳號、確認收過地址 → 
								(3) 申請退貨與退貨後，3~5個工作天會到府來電收件。
							</li>
							<li>
								退款流程：<br>
								Just A bite 與貨運收取貨件後，確認退貨流程後，會將退款直接匯入您的帳戶中。
							</li>
						</ul>
					</div> 
				</div> 
				<!--Q2-->
				<div class='section__Q-And-A QA__ans-text'>
					<div class='section__question'>
						<div class='section__ques-list'>Q2:</div> 
						<div class='section__ques-desc'>目前提供哪些付款方式？</div> 
					</div> 
					<div class='section__answer fold'>
						<ul>
							<li>
								線上信用卡支付（目前可以使用 Master、VISA、JCB卡）、貨到付款。
							</li>
						</ul>
					</div> 
				</div> 
				<!--Q3-->
				<div class='section__Q-And-A QA__ans-text'>
					<div class='section__question'>
						<div class='section__ques-list'>Q3:</div> 
						<div class='section__ques-desc'>線上刷卡如何操作呢？</div> 
					</div> 
					<div class='section__answer fold'>
						<ul>
							<li>線上刷卡的使用方式也超簡單，只要您確認您當次的購物清單與金額都無誤，就可立即到匯款上傳系統，登入個人帳號密碼後，點選"線上刷卡方式"，確認收件住址後，再進行刷卡確認程序即可～</li>
						</ul>
					</div> 
				</div> 
				<!--Q4-->
				<div class='section__Q-And-A QA__ans-text'>
					<div class='section__question'>
						<div class='section__ques-list'>Q4:</div> 
						<div class='section__ques-desc'>如何查詢目前訂單的處理情況？</div> 
					</div> 
					<div class='section__answer fold'>
						<ul>
							<li>點選「查詢訂單」，點選訂單編號，就可以查詢訂單記錄、明細及出貨狀態。</li>
						</ul>
					</div> 
				</div> 
				<!--Q5-->
				<div class='section__Q-And-A QA__ans-ul'>
					<div class='section__question'>
						<div class='section__ques-list'>Q5:</div>
						<div class='section__ques-desc'>訂單成立後，是否可以取消或是更改訂單數量及商品？</div>
					</div>
					<div class='section__answer fold'>
						<ul>
							<li>若訂單狀態為「處理中」，表示尚未理貨，可以直接取消、更改訂單數量及商品。</li>
							<li>若訂單狀態為「已確認」，表示理貨進行中，但尚未出貨，因此可以取消、更改訂單數量及商品。</li>
							<li>若訂單狀態為「已出貨」，表示貨物交付宅配，無法取消或更改訂單，請先填寫「線上退貨申請單」，直接將申請單與貨物交還貨運人員。</li>
						</ul>
					</div>
				</div>
				<!--Q6-->
				<div class='section__Q-And-A QA__ans-ul'>
					<div class='section__question'>
						<div class='section__ques-list'>Q6:</div>
						<div class='section__ques-desc'>我想購買的商品已經缺貨，什麼時候會進貨呢？</div> 
					</div>
					<div class='section__answer fold'>
						<ul>
							<li>若商品顯示「售完已絕版」，表示該商品售完，而且沒辦法再補貨了喔！</li>
							<li>若商品顯示「貨到通知」，表示該商品正在補貨中，一般正常情況下約一週後會進貨，若遇到大量訂單情況約需一個月，屆時請點選按鈕，並填寫 E-mail，待商品到貨後，會發送 E-mail 通知。
						</ul>
					</div> 
				</div> 
			</div>  
		</div> 
	</section>
	
	<%- include('template/footer') %>
	<script src="/scripts/faq.js"></script>
</body>

</html>

